* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5E9E2;
}

img {
    max-width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #0E1428;
}

.logo {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 60px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    margin-right: 1rem;
    text-decoration: none;
    color:orange;
    font-size: 20px;
}

.box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.holder {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.text-holder {
    width: 40%;
}

.title {
    font-size: 3em;
}

.photo-holder {
    width: 40%;
}

.photo {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.button-call {
    padding: 0.5rem 1.4rem;
    border-radius: 20px;
    border: none;
    background-color: #0E1428;
    color: white;
    font-weight: bold;
}

.button-learn {
    margin-left: 0.5rem;
    padding: 0.5rem 1.4rem;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #0E1428;
}

.descripcion {
    padding: 3rem 0px;
    border-top: solid 1px white;

    width: 100%;
    text-align: center;
}

.border {
    border-bottom: solid 1px white;
}

.texto {
    text-align: center;
}

.flex {
    display: flex;
    text-align: center;
}

.icon {
    font-size: 60px;
    color: orange;
}

h3, h2 {
    color: #0E1428;
}

.mini-box {
    padding-top: 3rem;
    margin-bottom: 2rem;
    margin-left:1rem ;
}

.flexbox-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.img-client {
    width: 200px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.flexbox-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.flexbox-footer-contact {
    display: flex;
    justify-content: space-between;
}

.brother-div-photo {
    width: 50%;
    margin-right: 2rem;
}

.image-map {
    border-radius: 10px;
}

.info-contact {
    padding: 0.5rem;
}

.social-Networks {
    margin-top: 9rem;
}

.logos-contact {
    font-size: 30px;
    margin-right: 0.5rem
}

@media (max-width:1200px) {
    .social-Networks {
        margin-top: 4rem;
    }
}

@media (max-width:1000px) {
    .flexbox-footer {
        display: block;
        text-align: center;
    }

    .social-Networks {
        text-align: center;
        margin-top: 1rem;
    }

    .brother-div-photo {
        width: 100%;
    }
}

@media(max-width:776px) {
    .button-learn {
        margin-top: 1rem;
    }
}

@media (max-width:700px) {
    .flex {
        display: block;
    }
    .text-holder {
        width: 100%;
    }
    .holder {
        display: block;
    }
    
    .photo-holder {
        margin-top: 2rem;
        width: 100%;
    }

    ul {
        padding-left: 0;
        margin-left: 10px;
    }

    .photo {
        min-width: 337px;
    }
}

